
<%- include('partials/header.ejs') %>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #17a2b8;">
   
    <nav class="navbar navbar-dark bg-info w-100">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <span class="h4 mb-0 text-white">BlogTech</span>
            </a>
        </div>
    </nav>
    <div class="container d-flex justify-content-center">
        <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
            <h3 class="text-center text-info">Registrar</h3>
            <form action="/registrar/novo_usuario" method="POST">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="senha" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="btn btn-info w-100">Cadastrar</button>
            </form>
            <div class="text-center mt-3">
                <p>Já tem uma conta? <a href="/login" class="text-info">Entrar</a></p>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>